.wrapper {
    font-family: Arial, sans-serif;
    min-height: 658px;
    padding: 64px 0 50px;
}

.login-container {
    display: flex;
    justify-content: center;
}
.login-line {
    border-right: 1px solid #e5e5e5;
    margin: 0 99px;
    height: 460px;
}
