.login-item {
    display: flex;
    flex-direction: column;
    width: 285px;
    text-transform: capitalize;
}

.login-title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: var(--text-color);
}

.input-group {
    flex-direction: column;
}

//Button Submit
.btn-submit {
    width: 100%;
    min-width: 240px;
    height: 44px;
    line-height: 42px;
    margin: 20px 0 12px;
    padding: 0 24px;
    font-size: 16px;
    color: #fff;
    background-color: var(--black);
    text-transform: uppercase;
}

.btn-foget {
    color: #666;
}

//Input styles
.input-arena {
    margin-bottom: 20px;

    .control {
        width: 100%;
        height: 40px;
        line-height: inherit;
        font-size: 14px;
        padding: 0 12px;
        border: 1px solid #e5e5e5;

        &:focus {
            border: 1px solid var(--black);
            box-shadow: none;
        }
    }

    .err-mess {
        display: block;
        margin-top: 4px;
        font-size: 12px;
        color: #bf4123;
    }
}

.label {
    font-size: 12px;
    color: #666;
    margin-bottom: 3px;
}

.login-style {
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;

    .title {
        color: var(--text-color);
        font-size: 12px;
        font-weight: 500;
    }

    .login-style-list {
        padding-top: 12px;

        .login-style-item {
            display: flex;
            flex-direction: column;
            width: 50%;

            .item-label {
                max-width: 100%;
                position: relative;
                margin-bottom: 10px;

                &:hover {
                    cursor: pointer;
                }

                &:first-child {
                    display: block;
                }
                //CSS Input
                .checkmark {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 14px;
                    width: 14px;
                    border: 1px solid #ccc;
                    background-color: var(--white);
                }

                /* When the checkbox is checked, add a blue background */
                input:checked ~ .checkmark {
                    background-color: #000;
                }

                /* Create the checkmark/indicator (hidden when not checked) */
                .checkmark:after {
                    content: '';
                    position: absolute;
                    display: none;
                }

                /* Show the checkmark when checked */
                input:checked ~ .checkmark:after {
                    display: block;
                }

                /* Style the checkmark/indicator */
                .checkmark:after {
                    left: 4px;
                    top: 1px;
                    width: 4px;
                    height: 9px;
                    border: 1px solid #ccc;
                    border-width: 0 3px 3px 0;
                    transform: rotate(45deg);
                }

                span {
                    color: #666;
                    font-size: 12px;
                    padding-left: 12px;
                    text-align: left;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    word-wrap: normal;
                }
            }
        }
    }
}

.login-other {
    width: 100%;

    .border-text {
        position: relative;
        margin: 20px 0;
        color: #ccc;
        text-align: center;

        span {
            font-size: 12px;
        }

        &::before {
            position: absolute;
            background: #e5e5e5;
            content: '';
            width: 45%;
            height: 1px;
            top: 47%;
            left: 0;
        }

        &::after {
            position: absolute;
            background: #e5e5e5;
            content: '';
            width: 45%;
            height: 1px;
            top: 47%;
            right: 0;
        }
    }
}

.privacy-item {
    width: 100%;
    margin: 10px 0 8px;
    color: #767676;
    line-height: 1.2;
    text-align: left;

    .privacy-link {
        text-decoration: none;
    }
}
.discount-info {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: 700;
    color: #fa6338;
}
