.wrapper {
    font-family: Arial, Helvetica, sans-serif;

    .process-status-bar {
        display: inline-block;
        width: 100%;
        margin: 40px auto;
        text-align: center;

        & > span {
            font-size: 16px;
            font-weight: 700;
            color: #767676;
        }

        & > span::before {
            content: '>';
            padding: 0 10px;
        }

        & > span:first-child:before {
            content: '';
            padding: 0;
        }

        .active {
            color: var(--text-color);
            font-weight: 700;
        }
    }

    .address-card {
        display: flex;
        align-items: center;
        padding: 20px 24px;
        margin-bottom: 20px;
        background-color: var(--white);
        font-size: 14px;
        line-height: 16px;
        color: var(--black);

        .addresss {
            margin-left: 4px;
        }

        .choose-address {
            text-align: right;
        }
    }

    .top-shipping-sec {
        padding: 24px;
        background-color: #fff;
        margin-bottom: 20px;

        .shipping-sec {
            display: flex;

            .title {
                font-size: 14px;
                font-weight: 700;
                line-height: 25px;
                color: var(--text-color);
            }
            .discription {
                font-size: 13px;
                line-height: 14px;
                color: var(--text-color);
            }
        }
    }

    .cartlist-header {
        padding: 24px 24px 0;
        background-color: var(--white);
        border-bottom: 1px solid #e5e5e5;
        line-height: 1.2;

        .header-title {
            width: 100%;
            padding-bottom: 4px;
            font-size: 20px;
            font-weight: 700;
            color: var(--text-color);
            display: inline-block;
            text-transform: capitalize;
        }

        .cart-table {
            .table-row {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 16px 4px;
                list-style: none;

                .table-item {
                    font-size: 14px;
                    font-weight: 700;
                    text-align: left;
                    color: var(--text-color);
                }
            }
        }

        .promo-banner {
            background: #fff6f3;
            padding: 16px;

            .promo-title {
                margin-bottom: 4px;
                font-size: 14px;
                font-weight: 700;
                color: var(--black);
            }
            .promo-discription {
                font-size: 13px;
                line-height: 15px;
                color: var(--black);
            }
        }
    }

    .product-name {
        width: 94%;
        padding-left: 24px;
        font-size: 16px;
        color: var(--text-color);
        text-align: left;
        text-overflow: ellipsis;
        text-transform: capitalize;
        cursor: pointer;

        &:hover {
            font-weight: 700;
        }
    }

    .product-group-price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 35px;
    }

    // Payment Form
    .payment {
        padding: 24px;
        background-color: var(--white);

        .total-title {
            width: 100%;
            margin-bottom: 16px;
            font-size: 22px;
            font-weight: 700;
            color: var(--text-color);
        }

        .price-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;

            .total-price {
                font-size: 24px;
                color: #c44a01;
                letter-spacing: 2px;
            }
        }

        .check-btn {
            margin-top: 18px;

            .point-tip {
                margin-top: 16px;
                font-size: 14px;
                color: #767676;
                text-align: left;
            }
        }
    }

    .accept-bank {
        margin-top: 48px;
        background: #f7f8fa;

        .accept-title {
            margin-bottom: 15px;
            font-size: 20px;
            color: #222;
            text-transform: capitalize;
            font-weight: 700;
        }

        .bank-img {
            img {
                width: 51px;
                margin-bottom: 15px;
                margin-right: 15px;
            }
        }
    }
}
