// Btn slice

.btn-slice {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 50%;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8);
    background-color: rgba(255, 255, 255, 0.94);
    outline: none;
    border: none;
    text-align: center;
    z-index: 5;

    &:hover {
        background-color: var(--white);
    }
}

.btn-right {
    right: 5px;
}

.btn-left {
    left: 5px;
}
