.wrapper {
    justify-content: space-between;

    .btn-more {
        width: 160px;
        height: 42px;
        margin: 0 auto;
        line-height: 42px;
        font-size: 16px;
        font-weight: 700;
        background-color: var(--black);
        color: var(--white);

        &:hover {
            background: rgba(34, 34, 34, 0.8);
            color: #fff;
            text-decoration: none;
        }
    }
}
