.wrapper {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1900px;
    margin-top: 47px;

    .btn {
        height: 36px;
        line-height: 36px;
        font-size: 20px;
        font-weight: 500;
        color: var(--text-color);
        background-color: transparent;
        text-decoration: dashed;
        text-align: center;
        float: right;
        text-transform: capitalize;
    }
}
